<ion-view title="Page" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page3-form5" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="page3-toggle4" class=" ">Toggle</ion-toggle>
        </form>
        <div class="item item-body " id="page3-list-item-container3">
            <p id="page3-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <form id="page3-form6" class="list ">
            <ion-radio id="page3-radio3" class=" ">Radio</ion-radio>
        </form>
    </ion-content>
</ion-view>